<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Raven Vending</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16.png">
    <link rel="icon" type="image/png" sizes="33x33" href="images/favicon.png">
    <link rel="icon" type="image/png" sizes="180x180" href="images/favicon-180.png">
</head>

<body class="has-animations">
    <nav class="nav-menu" id="nav-menu">
        <ul class="link-group">
            <li class="reveal-from-top nav-list" data-reveal-delay="100"><a href="/">Home</a> <a
                    href="/Suggestion">Product Suggestion</a> <a href="/Contact">Contact Us</a></li>
        </ul>
    </nav>
    <div class="body-wrap">
        <header class="site-header invert-color">
            <div class="container">
                <div class="site-header-inner">
                    <div class="left">
                        <div class="brand reveal-from-top">
                            <h1><a href="/"><img class="logo-desktop" src="images/logo type.svg" alt="RavenVending">
                                    <img class="logo-phone" src="images/logo.svg" alt="RavenVending"></a></h1>
                        </div>
                    </div>
                    <div class="right"><button id="header-nav-toggle" class="header-nav-toggle reveal-from-top"
                            data-reveal-delay="100" aria-controls="primary-menu" aria-expanded="false"><span
                                class="screen-reader">Menu</span> <span class="hamburger"><span
                                    class="hamburger-inner"></span></span></button>
                        <nav class="header-nav">
                            <div class="header-nav--inner">
                                <ul class="list-reset text-xxs link-right">
                                    <li class="reveal-from-top list" data-reveal-delay="100"><a class="active-tab"
                                            href="/">Home</a> <a href="/Suggestion">Product
                                            Suggestion</a> <a href="/Contact">Contact Us</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <main class="site-content">
            <section class="hero section">
                <div class="container-hero">
                    <div class="hero-inner section-hero">
                        <div class="hero-content flex-left">
                            <div class="hero-content-top">
                                <h1 class="head-big-1 hero-bot-pad reveal-from-top" data-reveal-delay="300">Make life
                                    easier with vending universe</h1>
                                <p class="head-regular-1 fixer-head-reg-1 reveal-from-top" data-reveal-delay="400">Easy.
                                    Ready. Fast. Save more time with Raven Vending</p>
                            </div>
                            <div class="hero-content-bottom">
                                <div class="reveal-from-top" data-reveal-delay="500"><a
                                        class="button-contact width-contact pri-hover" href="/Contact">Contact
                                        Us <img class="icon icon-arrow" src="images/arrow-right.svg" alt=""></a></div>
                            </div>
                        </div>
                        <div class="hero-content flex-right">
                            <div class="img-desktop reveal-from-top" data-reveal-delay="400"></div>
                            <div class="img-holder reveal-from-right" date-reveal-delay="300"><img class="desktop"
                                    src="images/hero-img.png" alt="hero-image"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section sec-1 margin-top-sec">
                <div class="container-1">
                    <div class="section-top">
                        <div class="content-text">
                            <h1 class="head-big-2 centering reveal-from-top" data-reveal-delay="300">Convenience at your
                                fingertips</h1>
                            <p class="head-regular-2 centering reveal-from-top" data-reveal-delay="300">Easy, drop a
                                coin get a snack</p>
                        </div>
                    </div>
                    <div class="section-middle">
                        <div class="content-design box-left reveal-from-top" data-reveal-delay="400"><img
                                src="images/design-left.svg" alt="vending illustration"> <img
                                src="images/design-right.svg" alt="vending illustration"></div>
                    </div>
                    <div class="section-absolute"><img src="images/illustra-left-desktop.svg" alt="vending-infor-tech"
                            class="box-left desktop reveal-from-top" data-reveal-delay="400"> <img
                            src="images/illustra-right-desktop.svg" alt="vending-infor-tech"
                            class="box-right desktop reveal-from-top" data-reveal-delay="400"> <img
                            src="images/illus-tablet-ver-left.svg" alt="vending-infor-tech"
                            class="box-left phone reveal-from-top" data-reveal-delay="400"> <img
                            src="images/illus-tablet-ver-right.svg" alt="vending-infor-tech"
                            class="box-right phone reveal-from-top" data-reveal-delay="400"></div>
                </div>
            </section>
            <section class="section sec-2 margin-top-sec">
                <div class="container-2">
                    <div class="content-text">
                        <h1 class="head-big-2 cut-font centering reveal-from-top" data-reveal-delay="300">We vend so you
                            don’t have to</h1>
                        <h1 class="head-big-2 reveal-phone centering reveal-from-top" data-reveal-delay="300">We vend so
                            you don’t</h1>
                        <p class="head-light cut-font centering reveal-from-top" data-reveal-delay="300">We serve it,
                            because you deserve it</p>
                        <p class="head-light reveal-phone centering reveal-from-top" data-reveal-delay="300">We serve,
                            because you deserve</p>
                    </div>
                    <div class="content-card">
                        <div class="card reveal-from-left mar-right-card" date-reveal-delay="300">
                            <div class="set-icon reveal-from-left" data-reveal-delay="300"><img
                                    src="images/diverse-icon.svg" alt="diversity"></div>
                            <div class="set-context">
                                <h1 class="head-card reveal-from-left" data-reveal-delay="300">Diversity</h1>
                                <p class="head-card-thin reveal-from-left" data-reveal-delay="300">Get access to vary
                                    kind of snacks, bevarages, cupcakes & etc</p>
                            </div>
                        </div>
                        <div class="card reveal-from-left" date-reveal-delay="300">
                            <div class="set-icon reveal-from-left" data-reveal-delay="300"><img
                                    src="images/improve-icon.svg" alt="diversity"></div>
                            <div class="set-context">
                                <h1 class="head-card reveal-from-left" data-reveal-delay="300">Improvement</h1>
                                <p class="head-card-thin reveal-from-left" data-reveal-delay="300">Improves team
                                    productivity, save time, energy boost & more</p>
                            </div>
                        </div>
                        <div class="card reveal-from-left mar-left-card" date-reveal-delay="300">
                            <div class="set-icon reveal-from-left" data-reveal-delay="300"><img
                                    src="images/access-icon.svg" alt="diversity"></div>
                            <div class="set-context">
                                <h1 class="head-card reveal-from-left" data-reveal-delay="300">Easy Access</h1>
                                <p class="head-card-thin reveal-from-left" data-reveal-delay="300">Quick access. Grab a
                                    drink or a snack in less than a minute</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section sec-3 margin-top-sec">
                <div class="container-3">
                    <div class="content-text">
                        <div class="text-top">
                            <h1 class="head-thin reveal-from-left" data-reveal-delay="300">Inexpensive</h1>
                            <h1 class="head-big-2 reveal-from-left" data-reveal-delay="300">Cost-effective way to
                                provide food and drink</h1>
                        </div>
                        <div class="text-bottom">
                            <p class="head-light reveal-from-left" data-reveal-delay="300">Unlike a canteen, you don't
                                need to employ anyone to run a vending machine, so it is one less wage to worry about
                            </p>
                        </div>
                    </div>
                    <div class="Content-image reveal-from-right" date-reveal-delay="300"><img class="small-width"
                            src="images/vend-machine-image.svg" alt="dark vend machine"></div>
                </div>
            </section>
            <section class="section sec-4 margin-top-sec">
                <div class="container-4 reveal-from-top" data-reveal-delay="300">
                    <div class="content-text">
                        <h1 class="head-big-2 reveal-from-left" data-reveal-delay="300">Owning Big Area Of Cover</h1>
                        <p class="head-light reveal-from-left" data-reveal-delay="300">Covering The Energy Capital of
                            the World <span>Houston</span>. Being supportive to broad area, keeps us best for the best
                        </p>
                    </div>
                    <div class="content-image reveal-from-right" date-reveal-delay="300"><img
                            src="images/houston-location.svg" alt="houston-cover"></div>
                </div>
            </section>
        </main>
    </div>
    <footer class="site-footer margin-top-sec">
        <div class="container-5">
            <div class="brand"><img src="images/logo type.svg" alt="RavenVending LogoType" class="reveal-from-left"
                    date-reveal-delay="300"></div>
            <div class="links reveal-from-left" data-reveal-offset="0" date-reveal-delay="300"><a href="/Suggestion"
                    class="link-1">Product Suggestion</a> <a href="/Contact" class="link-2">Contact Us</a></div>
            <div class="address reveal-from-left" data-reveal-offset="0" data-reveal-delay="300">
                <p class="location head-add">Conroe, Texas, USA</p>
                <div class="flex-line">
                    <p class="phone-no head-add">+1 (346) 536-8624</p>
                    <p class="rights head-add">© 2022 Raven Vending Innovations L.L.C. , all rights reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/main.min.js"></script>
</body>

</html>