<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>RavenVending</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="has-animations">
    <div class="body-wrap full-height-sec">
        <div class="success">
            <div class="box reveal-from-top" data-reveal-delay="300">
                <div class="content-top reveal-from-top" data-reveal-delay="400">
                    <h1 class="thanks head-success reveal-from-top">Successfuly Sent</h1>
                    <p class="reach sm-head-success">Thanks for reaching us! Our team will be in contact as soon as
                        possible</p>
                </div>
                <div class="content-bottom reveal-from-top" data-reveal-delay="400"><a href="/" class="home succ-btn">Home</a> <a
                        href="/Suggestion" class="back succ-btn">Back</a></div>
            </div>
        </div>
    </div>
    <script src="js/main.min.js"></script>
</body>

</html>